SECRET_KEY=dev-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=sqlite3

# 虽然你不用 Redis，也必须给一个值（settings 里会读取）
USE_REDIS=False
REDIS_HOST=redis://127.0.0.1:6379/1

API_LOG_ENABLE=False
USE_X_FORWARDED_HOST=False